<header class="main-header">
    <a href="/index.html" class="logo">LinkDD</a>

    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="https://twitter.com/linkdd">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://plus.google.com/u/0/117720587106438185504/posts">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="http://linkedin.com/in/linkdd">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/linkdd">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>